<html>
<head>
    <title>Media Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ error_type }}</h5>
      </div>
      <div class="modal-body">
        <p>{{ error_message}}</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="/" >OK</a>
      </div>
    </div>
  </div>
</body>
</html>